body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: auto;
  min-width: fit-content;
}
.navbar {
  background-color: #4358e1;
  overflow: hidden;
  display: flex;   
  justify-content: center;
  align-items: center;
  border-radius: 0;
  padding: 0 20px
}
.navbar-links {
  display: flex;
  margin-left: 420px; 
}

.navbar .logo img {
  position: absolute;
  height: 120px;
  left:10px;
  top: -35px;
  flex:1;
  
}
.top-right {
  
  top: 4px;
  font-weight: light;
  text-align: right;
  margin-left: auto;
  
  
  
}
.navbar a {
  color: #f2f2f2;
  padding: 16px 35px;
  text-decoration: none;
  border-radius: 6px;
}

.navbar a:hover {
  background-color: #4fa4e4;
  
}

#image-container {
  margin: 0;
  padding: 0;
 
}

#image-container img {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 600px;
  border-radius: 0;
  opacity: 0.9;
  justify-content: center;
  align-items: center;

        
}

.navbar a.active  {
  color: #090909;
}



h2 {
  padding: 20px;
}

